@model UZEM_PROJECT.Model.CourseClass
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_LayoutCoursesMainpage.cshtml";
}

<div class="panel panel-default">
    içerikler burada görünecekk
</div>

