
@{
    ViewBag.Title = "HowToCreate";
    Layout = "~/Views/Shared/_LayoutCoursesMain.cshtml";
}

<h2>Kurs Nasıl Oluşturulur?</h2>
<p>Ana hatları belirleyin.<br />
   Öğreteceğiniz becerilere ve öğretme yöntemlerinize karar verin. Dersleri bölümlere ayırın.<br />
    Her bölümde 3-7 ders olmalı ve en az bir ödev veya alıştırma etkinliği yer almalıdır. <br />
    Kendinizi tanıtın ve heyecan katın.<br />
    İnsanlar online platformlarda hemen öğremeye başlamak isterler, öğrencilerin ilk 10 dakikada heyecanlanmasını sağlayacak bir giriş bölümü hazırlayın.   
</p>
