
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<br />
<script>var counter = 3;</script>

    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Popüler Kurslar</b>
        </div>    
    </div>

