
@{
    ViewBag.Title = "SubmitForReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-30">
    <h2>Kursu incelemesi için danışman onayına başarılı bir şekilde gönderdiniz. Eğitmen Danışmanımız en kısa sürede inceleyip dönüş yapacaktır.</h2>
</div>
