
@{
    ViewBag.Title = "Kurs";
    Layout = "~/Views/Shared/_LayoutEgitmenProfil.cshtml";
}

<h2>Kurs</h2>
<h4>Yeni kurs Oluştur </h4>


<div>

    <button class="btn btn-info">

        <a href="~/Home/Courses">Kurs Oluştur </a>
    </button>

</div>
